:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
*{
  margin: 0;
  padding: 0; 
}
.layout {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.header{
  /* flex: 0 0 auto;  */
  background:url("./assets/images/curvyBackground.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 79px;
}

.outlet {
  flex: 1;
  width: 100%;

}


.manRope400{
  font-family: "Manrope", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 400 !important;
  font-style: normal;
}
.manRope500{
  font-family: "Manrope", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 500 !important;
  font-style: normal;
}
.manRope600{
  font-family: "Manrope", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 600 !important;
  font-style: normal;
}
.manRope700{
  font-family: "Manrope", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 700 !important;
  font-style: normal;
}
.manRope800{
  font-family: "Manrope", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 800 !important;
  font-style: normal;
}
.coveredBy400{
  font-family: "Covered By Your Grace", cursive !important;
  font-weight: 400 !important;
  font-style: normal;
}
.coveredBy500{
  font-family: "Covered By Your Grace", cursive !important;
  font-weight: 500 !important;
  font-style: normal;
}
.coveredBy600{
  font-family: "Covered By Your Grace", cursive !important;
  font-weight: 600 !important;
  font-style: normal;
}
.coveredBy700{
  font-family: "Covered By Your Grace", cursive !important;
  font-weight: 700 !important;
  font-style: normal;
}
.coveredBy800{
  font-family: "Covered By Your Grace", cursive !important;
  font-weight: 800 !important;
  font-style: normal;
}


.headerTab .MuiTabs-indicator{
  display: none;
}

.inputBox fieldset{
display: none;
}

.headerContactComponent .headerContactComponentItem:not(:last-child){
  border-right:1px solid #E4E2D7 !important;
}
.MuiCardContent-root.cardContent:last-child{
  padding: 0px;
}

.green-scrollbar .swiper-scrollbar {
  background-color: darkgreen;
}

.green-scrollbar .swiper-scrollbar-drag {
  background-color: lightgreen;
}